--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0+cu126
torchvision==0.22.0+cu126
numpy==1.26.4
diffusers
accelerate
transformers
matplotlib
tqdm
Pillow
scipy
einops==0.7.0
tensorboard==2.16.2
pyyaml==6.0.1